@media screen and (max-width: 12400px){
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1200px){
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #Experience, 
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    #article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers ,
    .contact-info-upper-container,
    .contact-info-container
    {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin:0;
    }
    .contact-info-container p,
    .nav-links li a{
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: 46vw; /* 保持宽度与高度相等 */
        height: 46vw; /* 使用视口宽度的百分比来保持响应性 */
        border-radius: 50%; /* 使容器保持圆形 */
        margin: 0 auto 2rem; /* 水平居中对齐并设置底部边距 */
        overflow: hidden; /* 隐藏溢出的内容以确保圆形边界 */
    }
    .section__text__p2 {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
}
    